<section id="login">

    <div id="iniciar">

        <h1>Comience a disfrutar de todos los beneficios que ofrece SIGA. <br /><br />Autentíquese Aquí</h1>


        <div>

            <span id="iniciar">Iniciar sesión</span>

        </div>

    </div>

</section>

<section id="aboutUs">

    <div id="quienesSomos">


        <h2>¿Quiénes Sómos?</h2>

        <div>

            <p>Somos un equipo de profesionales, que nos encargamos del desarrollo de soluciones
                web competitivas, destinadas a la automatización y gestión de procesos administrativos que se llevan a
                cabo
                dentro de las instituciones educativas.<br />
                Diseñamos soluciones elegantes y con un alto performance, adaptadas siempre a sus necesidades. </p>

        </div>


    </div>

</section>


<section id="approach">

    <div id="enfoque">


        <div>

          
            <div>
                <span><fa-icon [icon]="faRocket"></fa-icon></span>
            </div>

            <h2>Misión</h2>
            <p>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición
                tipográfica. Lorem
                Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500,
                cuando un impresor desconocido tomó una galera de tipos y la codificó para hacer un libro de muestras
                tipográficas.</p>

        </div>

        <div>

            
            <div>
                <span><fa-icon [icon]="faEye"></fa-icon></span>
            </div>

            <h2>Visión</h2>

            <p>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición
                tipográfica. Lorem
                Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500,
                cuando un impresor desconocido tomó una galera de tipos y la codificó para hacer un libro de muestras
                tipográficas.</p>

        </div>

        <div>


            <div>
                <span><fa-icon [icon]="faHandHoldingHeart"></fa-icon></span>
            </div>

            <h2>Valores</h2>

            <p>Lorem Ipsum es simplemente un texto ficticio de la industria de la impresión y la composición
                tipográfica. Lorem
                Ipsum ha sido el texto ficticio estándar de la industria desde el año 1500,
                cuando un impresor desconocido tomó una galera de tipos y la codificó para hacer un libro de muestras
                tipográficas.</p>

        </div>

    </div>

</section>

<section id="features">

    <div id="caracteristicas">


        <div>

            <p>Nuestro Sistema de Gestión Acádemica (SIGA), está desarrollado
                con las herramientas más modernas de programación, para brindarte todo un abanico de funcionalidades
                para la
                Gestión de horarios, Asignación de cursos, Asignación de materias, Resguardo de notas y Emisión de
                boletines.<br /><br />SIGA, te ofrece además la mejor experiencia de navegación, la seguridad y la
                estabilidad que tanto<br />necesitas en tus procesos.</p>


        </div>
    </div>

</section>

<section id="office">

    <div id="oficina">


        <h2>Nuestra Oficina</h2>

        <div id="direccion">

            <div>

                <p>Dirección:</p>

                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium <br />doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo"</p>

            </div>

            <div>

                <p>Teléfonos:</p>

                <p>+58 0424-1217877<br /><br />+58 0412-1086305</p>

            </div>

            <div>

                <p>Correo:</p>

                <p>tecnodestreza@gmail.com</p>

            </div>

        </div>
    </div>
</section>