<nav id="mainMenu">

    <ul class="listMenu">
        <li><a routerLink='/siga' fragment="login">Acceder</a></li>
        <li><a routerLink='/siga' fragment="aboutUs">Quiénes somos</a></li>
        <li><a routerLink='/siga' fragment="approach">Enfoque</a></li>
        <li><a routerLink='/siga' fragment="features">Nuestro sistema</a></li>
        <li><a routerLink='/siga' fragment="office"><span>Contacto</span></a></li>
    </ul>

</nav>

<nav id="stickyMenu">

    <ul class="listMenu">
        <li><a routerLink='/siga' fragment="login">Acceder</a></li>
        <li><a routerLink='/siga' fragment="aboutUs">Quiénes somos</a></li>
        <li><a routerLink='/siga' fragment="approach">Enfoque</a></li>
        <li><a routerLink='/siga' fragment="features">Nuestro sistema</a></li>
        <li><a routerLink='/siga' fragment="office"><span>Contacto</span></a></li>
    </ul>

</nav>