<div class="slideShow">
    
        <img id="play" src="/assets/images/play.png" alt=""  />
 
    <ul class="slider" id="landscape">
       
        <li>
            <img src="/assets/images/siga_Slider.png" alt=""/>
        </li>
        

        <li>
            <img src="/assets/images/collage2_Slider_.png" alt=""/>
        </li>

        
        <li>
            <video id="myVideo" class="video1" src="/assets/images/video1_.mp4" type="video/mp4" autoplay="false" muted="false">
            </video>
        </li>

    </ul>

    <ul class="slider_" id="portrait">

        <li>
            <img src="/assets/images/siga_Slider_.png" alt=""/>
        </li>
        

        <li>
            <img src="/assets/images/collage2_Slider__.png" alt=""/>
        </li>

        
        <li>
            <video id="myVideo_" class="video2" src="/assets/images/video1__.mp4" type="video/mp4" autoplay="false" muted="false">
            </video>
        </li>
    </ul>



    <ol class="pagination">

        <li class="circulos"><span><fa-icon [icon]="faCircle"></fa-icon></span></li>
        <li class="circulos"><span><fa-icon [icon]="faCircle"></fa-icon></span></li>
        <li class="circulos"><span><fa-icon [icon]="faCircle"></fa-icon></span></li>

    </ol>

</div>